{% for key, value in (users_users_default | combine(users_users)).items() %}

{% if value.sudo_enabled %}

{% if value.sudo_nopassword %}
{{ key }} ALL=(ALL) NOPASSWD: ALL
{% else %}
{{ key }} ALL=(ALL) ALL
{% endif %}

{% endif %}

{% endfor %}
